<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Food & Drink service is here to provide you with the juiciest content related to food, drink, or anything edible. Whether you're looking for a recipe or just enjoy reading about food this is the right place for you. Since 2003!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Pages</h6>
            <ul class="footer-links">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/categories">Browse By Category</a></li>
              <li><a routerLink="/areas">Browse By Area</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; {{ year }} Pavle Milanov</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble"><i class="fab fa-dribbble"></i></a></li>
              <li><a class="linkedin"><i class="fab fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>