<div class="text-center home-div text-white">
	<div class="spacer"></div>
	<h1>Food & Drink</h1>
	<h3>Delivering the best food related content</h3>
	<div class="spacer"></div>
</div>
<div class="home-content mt-3 text-center">
	<h2 class="mt-5"><strong>About Us</strong></h2>
	<div class="text-box">
		<h5 class="mt-4">Started out as a small project in 2003</h5>
		<h5>Food & Drink was deisgned to serve people with the best food related content.</h5>
		<h5>Today we are sharing our recipes with 200.000 people worldwide!</h5> 
	</div>
</div>